* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
}


header {
    width: auto;
    display: inline;    
}

#left-head {
    float: left;
    display: inline;
    width: 20%;
    text-align: center;
    padding: 2% 0 2% 0;
    border: 1px solid;
}

#main-head {
    width: 60%;
    display: inline;
    text-align: center;
    margin: 0 0 0 10%;
}

#main-head h1 {
    font-size: 400%;
    display: inline;
    font-family: 'UnifrakturCook', cursive;    
}

#right-head {
    float: right;
    display: inline-block;
    width: 20%;
    text-align: justify;
    font-weight: bold;  
}

/* Header End */

/* Status Line Bar Start */

statbar p {
    margin-top: 15px;
    text-align: center;
    border: 1px solid;
}

/* Status Line Bar End */

/* Main ================== */

#main {
    width: 100%;
    text-align: center;
}

#main-top {
    font-size: 600%;
    
}

#main-sub {
    font-size: 500%;
    font-style: italic;
    font-weight: 200;
}

/* Main End */
content {
    width: 100%;
}
.content {
    float: left;
    width: 25%;
    text-align: justify;
    padding: 0% 0 0 1%;
    
}

.content h3 {
    padding: 0 0 10% 0;
    font-size: 200%;
    text-align: center;
}

#main-content-img {
    display: inline-block;
    width: 40%;
    height: 20px;
    background: url("../main-img.jpg");
    padding: 0 0 0 2.5%;
    
}


.content2 {
    display: inline-block;
    width: 24%;
    text-align: justify;
    padding-right: 1.2%;
    
}

.content2 h3 {
    display: inline block;
    padding: 0 0 10% 0;
    font-size: 200%;
}