




header {
    background: #2d6360 50% 0 url(http://www.csszengarden.com/214/huntington.jpg.) no-repeat;
    background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/noise.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/huntington.jpg);
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    color: white;
    background-size: auto, auto, auto, cover;
    height: 250px;
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    text-align: center;

}

#inner-header {
    justify-items: center;
}

#beauty {
    font-weight: normal;
    font-style: italic;
    color: rgba(255,255,255,0.6);
    margin: 0;
    font-size: 20px;
}

#title-h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 200;
    margin-bottom: 5px;
}


#view {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 34px;

}

#view-h1 {
    padding-top: 18px;
    margin: 0;
    font-weight: 100;
    color: rgba(255,255,255,0.6);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
}

#logo {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    
}

p{
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 100;
    font-size: 13px;
    line-height: 19px;

}

.main-normal {
    color: #2e484c;
    width: 95%;
    margin: auto;
}

.main-normal h2 {
    padding-top: 30px;
}

main h2 {
    padding-top: 10px;

    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
    font-size: 19px;

}

#green-participation {
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(http://www.csszengarden.com/214/contours-opaque.png), url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
}

#last-green-p {
    padding-bottom: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 260px 5fr 1fr
}

.forest {
    display: flex;
    background-image: url(http://www.csszengarden.com/214/contours@2x.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/noise.png), url(http://www.csszengarden.com/214/koi.jpg);
    background-size: 50% auto, auto, auto, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: repeat, repeat, repeat, no-repeat;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', sans-serif;

    
}

.forest h2 {
    margin: auto;
    font-weight: normal;
    font-style: italic;
    color: rgba(255,255,255,0.6);
    margin: 0;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2em;
    

    
}

ul {
    background-color: #134347;
    margin: 0;
}

li {
    list-style: none;
    display: inline;
}


@media only screen and (min-width : 750px){
    #inner-header {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-areas: 
       "logo h1 ."
       ". h2 ."
       "view view view";
       height: 250px;
    
    }

    #logo {
        grid-area: logo;
        justify-self: flex-end;
        align-self: flex-end;
    }

    #title-h1 {
        grid-area: h1;
        align-self: flex-end;
    }

    #beauty {
        grid-area: h2;
    }

    #view {
        grid-area: view;
        width: 100%;
        margin: 0;
        align-self: flex-end;
    }

    

}
